<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plageCopie">
            <h2><span jhiTranslate="jhipsterApp.plageCopie.detail.title">Plage Copie</span> {{ plageCopie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.plageCopie.plage">Plage</span></dt>
                <dd>
                    <span>{{ plageCopie.plage }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.plageCopie.typecopie">Typecopie</span></dt>
                <dd>
                    <span>{{ plageCopie.typecopie }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.plageCopie.nombrecopie">Nombrecopie</span></dt>
                <dd>
                    <span>{{ plageCopie.nombrecopie }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.plageCopie.correcteur">Correcteur</span></dt>
                <dd>
                    <div *ngIf="plageCopie.correcteur">
                        <a [routerLink]="['/correcteur', plageCopie.correcteur?.id, 'view']">{{ plageCopie.correcteur?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plage-copie', plageCopie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
