<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-plage-copie-heading" jhiTranslate="jhipsterApp.plageCopie.home.createOrEditLabel">Create or edit a Plage Copie</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.plageCopie.plage" for="field_plage">Plage</label>
                    <input type="text" class="form-control" name="plage" id="field_plage"
                           formControlName="plage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.plageCopie.typecopie" for="field_typecopie">Typecopie</label>
                    <input type="text" class="form-control" name="typecopie" id="field_typecopie"
                           formControlName="typecopie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.plageCopie.nombrecopie" for="field_nombrecopie">Nombrecopie</label>
                    <input type="number" class="form-control" name="nombrecopie" id="field_nombrecopie"
                           formControlName="nombrecopie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.plageCopie.correcteur" for="field_correcteur">Correcteur</label>
                    <select class="form-control" id="field_correcteur" name="correcteur" formControlName="correcteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="correcteurOption.id === editForm.get('correcteur')!.value?.id ? editForm.get('correcteur')!.value : correcteurOption" *ngFor="let correcteurOption of correcteurs; trackBy: trackById">{{ correcteurOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
