<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tAnonym">
            <h2><span jhiTranslate="jhipsterApp.tAnonym.detail.title">T Anonym</span> {{ tAnonym.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.tAnonym.numanonym">Numanonym</span></dt>
                <dd>
                    <span>{{ tAnonym.numanonym }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.tAnonym.dateCreation">Date Creation</span></dt>
                <dd>
                    <span>{{ tAnonym.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.tAnonym.dateModification">Date Modification</span></dt>
                <dd>
                    <span>{{ tAnonym.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.tAnonym.candidat">Candidat</span></dt>
                <dd>
                    <div *ngIf="tAnonym.candidat">
                        <a [routerLink]="['/candidat', tAnonym.candidat?.id, 'view']">{{ tAnonym.candidat?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/t-anonym', tAnonym.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
