<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pv-surveillance-heading" jhiTranslate="jhipsterApp.pVSurveillance.home.createOrEditLabel">Create or edit a PV Surveillance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.pVSurveillance.epreuve" for="field_epreuve">Epreuve</label>
                    <input type="text" class="form-control" name="epreuve" id="field_epreuve"
                           formControlName="epreuve"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.pVSurveillance.heureDeb" for="field_heureDeb">Heure Deb</label>
                    <div class="d-flex">
                        <input id="field_heureDeb" type="datetime-local" class="form-control" name="heureDeb" formControlName="heureDeb" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.pVSurveillance.heureFin" for="field_heureFin">Heure Fin</label>
                    <div class="d-flex">
                        <input id="field_heureFin" type="datetime-local" class="form-control" name="heureFin" formControlName="heureFin" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.pVSurveillance.datesurv" for="field_datesurv">Datesurv</label>
                    <div class="input-group">
                        <input id="field_datesurv" type="text" class="form-control" name="datesurv" ngbDatepicker #datesurvDp="ngbDatepicker" formControlName="datesurv"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datesurvDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.pVSurveillance.dateCreation" for="field_dateCreation">Date Creation</label>
                    <div class="input-group">
                        <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" ngbDatepicker #dateCreationDp="ngbDatepicker" formControlName="dateCreation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.pVSurveillance.dateModification" for="field_dateModification">Date Modification</label>
                    <div class="input-group">
                        <input id="field_dateModification" type="text" class="form-control" name="dateModification" ngbDatepicker #dateModificationDp="ngbDatepicker" formControlName="dateModification"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateModificationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
