<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-anonymat-heading" jhiTranslate="jhipsterApp.anonymat.home.createOrEditLabel">Create or edit a Anonymat</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.anonymat.numanoymat" for="field_numanoymat">Numanoymat</label>
                    <input type="number" class="form-control" name="numanoymat" id="field_numanoymat"
                           formControlName="numanoymat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.anonymat.candidat" for="field_candidat">Candidat</label>
                    <select class="form-control" id="field_candidat" name="candidat" formControlName="candidat">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidatOption.id === editForm.get('candidat')!.value?.id ? editForm.get('candidat')!.value : candidatOption" *ngFor="let candidatOption of candidats; trackBy: trackById">{{ candidatOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.anonymat.tour" for="field_tour">Tour</label>
                    <select class="form-control" id="field_tour" name="tour" formControlName="tour">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tourOption.id === editForm.get('tour')!.value?.id ? editForm.get('tour')!.value : tourOption" *ngFor="let tourOption of tours; trackBy: trackById">{{ tourOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
