<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-note-heading" jhiTranslate="jhipsterApp.note.home.createOrEditLabel">Create or edit a Note</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.note.note" for="field_note">Note</label>
                    <input type="number" class="form-control" name="note" id="field_note"
                           formControlName="note"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.note.matiere" for="field_matiere">Matiere</label>
                    <select class="form-control" id="field_matiere" name="matiere" formControlName="matiere">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matiereOption.id === editForm.get('matiere')!.value?.id ? editForm.get('matiere')!.value : matiereOption" *ngFor="let matiereOption of matieres; trackBy: trackById">{{ matiereOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.note.correcteur" for="field_correcteur">Correcteur</label>
                    <select class="form-control" id="field_correcteur" name="correcteur" formControlName="correcteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="correcteurOption.id === editForm.get('correcteur')!.value?.id ? editForm.get('correcteur')!.value : correcteurOption" *ngFor="let correcteurOption of correcteurs; trackBy: trackById">{{ correcteurOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.note.candidat" for="field_candidat">Candidat</label>
                    <select class="form-control" id="field_candidat" name="candidat" formControlName="candidat">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidatOption.id === editForm.get('candidat')!.value?.id ? editForm.get('candidat')!.value : candidatOption" *ngFor="let candidatOption of candidats; trackBy: trackById">{{ candidatOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
