<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="examen">
            <h2><span jhiTranslate="jhipsterApp.examen.detail.title">Examen</span> {{ examen.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.examen.nomexamen">Nomexamen</span></dt>
                <dd>
                    <span>{{ examen.nomexamen }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.examen.dateCreation">Date Creation</span></dt>
                <dd>
                    <span>{{ examen.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.examen.dateModification">Date Modification</span></dt>
                <dd>
                    <span>{{ examen.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.examen.tour">Tour</span></dt>
                <dd>
                    <div *ngIf="examen.tour">
                        <a [routerLink]="['/tour', examen.tour?.id, 'view']">{{ examen.tour?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.examen.jury">Jury</span></dt>
                <dd>
                    <span *ngFor="let jury of examen.juries; let last = last">
                        <a [routerLink]="['/jury', jury?.id, 'view']">{{ jury.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/examen', examen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
