<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.tour.home.title">Tours</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tour" [routerLink]="['/tour/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.tour.home.createLabel">
            Create a new Tour
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tours?.length === 0">
        <span jhiTranslate="jhipsterApp.tour.home.notFound">No tours found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tours?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.tour.numtour">Numtour</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.tour.dateCreation">Date Creation</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.tour.dateModification">Date Modification</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.tour.matiere">Matiere</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.tour.tAnonym">T Anonym</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tour of tours ;trackBy: trackId">
                    <td><a [routerLink]="['/tour', tour.id, 'view']">{{ tour.id }}</a></td>
                    <td>{{ tour.numtour }}</td>
                    <td>{{ tour.dateCreation | date:'mediumDate' }}</td>
                    <td>{{ tour.dateModification | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="tour.matiere">
                            <a [routerLink]="['/matiere', tour.matiere?.id, 'view']" >{{ tour.matiere?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tour.tAnonym">
                            <a [routerLink]="['/t-anonym', tour.tAnonym?.id, 'view']" >{{ tour.tAnonym?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tour', tour.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tour', tour.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tour)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
