<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.correcteur.home.title">Correcteurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-correcteur" [routerLink]="['/correcteur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.correcteur.home.createLabel">
            Create a new Correcteur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="correcteurs?.length === 0">
        <span jhiTranslate="jhipsterApp.correcteur.home.notFound">No correcteurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="correcteurs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.grade">Grade</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.provenance">Provenance</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.cni">Cni</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.telephone">Telephone</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.sexe">Sexe</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.datenais">Datenais</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.dateCreation">Date Creation</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.correcteur.dateModification">Date Modification</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let correcteur of correcteurs ;trackBy: trackId">
                    <td><a [routerLink]="['/correcteur', correcteur.id, 'view']">{{ correcteur.id }}</a></td>
                    <td>{{ correcteur.grade }}</td>
                    <td>{{ correcteur.prenom }}</td>
                    <td>{{ correcteur.nom }}</td>
                    <td>{{ correcteur.provenance }}</td>
                    <td>{{ correcteur.cni }}</td>
                    <td>{{ correcteur.telephone }}</td>
                    <td>{{ correcteur.sexe }}</td>
                    <td>{{ correcteur.datenais | date:'mediumDate' }}</td>
                    <td>{{ correcteur.dateCreation | date:'mediumDate' }}</td>
                    <td>{{ correcteur.dateModification | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/correcteur', correcteur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/correcteur', correcteur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(correcteur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
