<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidat">
            <h2><span jhiTranslate="jhipsterApp.candidat.detail.title">Candidat</span> {{ candidat.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.candidat.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ candidat.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.nom">Nom</span></dt>
                <dd>
                    <span>{{ candidat.nom }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.provenance">Provenance</span></dt>
                <dd>
                    <span>{{ candidat.provenance }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.cni">Cni</span></dt>
                <dd>
                    <span>{{ candidat.cni }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ candidat.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.sexe">Sexe</span></dt>
                <dd>
                    <span>{{ candidat.sexe }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.datenais">Datenais</span></dt>
                <dd>
                    <span>{{ candidat.datenais }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.niveau">Niveau</span></dt>
                <dd>
                    <span>{{ candidat.niveau }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.dateCreation">Date Creation</span></dt>
                <dd>
                    <span>{{ candidat.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.candidat.dateModification">Date Modification</span></dt>
                <dd>
                    <span>{{ candidat.dateModification }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidat', candidat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
