<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="table">
            <h2><span jhiTranslate="jhipsterApp.table.detail.title">Table</span> {{ table.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.table.numtable">Numtable</span></dt>
                <dd>
                    <span>{{ table.numtable }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.table.salle">Salle</span></dt>
                <dd>
                    <div *ngIf="table.salle">
                        <a [routerLink]="['/salle', table.salle?.id, 'view']">{{ table.salle?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/table', table.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
